name: valtimo-plugins-local

services:

  valtimo-db:
    container_name: valtimo-plugins-local-valtimo-db
    image: postgres:17.4
    ports:
      - "54340:5432"
    environment:
      POSTGRES_USER: valtimo
      POSTGRES_PASSWORD: password
      POSTGRES_DB: valtimo-db

  keycloak:
    container_name: valtimo-plugins-local-keycloak
    image: quay.io/keycloak/keycloak:24.0.5
    ports:
      - "8081:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_FEATURES: token-exchange,admin-fine-grained-authz
      KC_HTTP_RELATIVE_PATH: /auth
      KC_HOSTNAME_STRICT_HTTPS: false
    volumes:
      - ./imports/keycloak:/opt/keycloak/data/import:ro
    command:
      - start-dev
      - --import-realm
      - --http-enabled=true
    depends_on:
      - keycloak-db
    healthcheck:
      test: [ 'CMD-SHELL', '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { System.exit(((java.net.HttpURLConnection)new java.net.URL(args[0]).openConnection()).getResponseCode() == 200 ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:8080/auth' ]
      interval: 10s
      timeout: 5s
      retries: 60
      start_period: 5s

  keycloak-db:
    image: postgres:17.4
    container_name: valtimo-plugins-local-keycloak-db
    ports:
      - "54320:5432"
    environment:
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=keycloak

  #ZGW

  openzaak-redis:
    image: redis:8.2.2
    container_name: valtimo-plugins-local-openzaak-redis
    expose:
      - 6379

  openzaak-db:
    image: postgis/postgis:17-3.4
    container_name: valtimo-plugins-local-openzaak-db
    platform: linux/amd64
    ports:
      - "54321:5432"
    environment:
      - POSTGRES_USER=openzaak
      - POSTGRES_PASSWORD=openzaak
      - POSTGRES_DB=openzaak
#    volumes:
#      - ./imports/open-zaak-db:/docker-entrypoint-initdb.d

  openzaak:
    image: openzaak/open-zaak:1.25.0
    container_name: valtimo-plugins-local-openzaak
    platform: linux/amd64
    environment: &openzaak-env
      - DB_HOST=openzaak-db
      - DB_POST=5432
      - SECRET_KEY=veryRestrictedSecretKey
      - DB_USER=openzaak
      - DB_PASSWORD=openzaak
      - DB_NAME=openzaak
      - DEBUG=true
      - ALLOWED_HOSTS=localhost,host.docker.internal,172.17.0.1,openzaak
      - OPENZAAK_SUPERUSER_USERNAME=admin
      - OPENZAAK_SUPERUSER_EMAIL=admin@admin.org
      - DJANGO_SUPERUSER_PASSWORD=admin
      - SENDFILE_BACKEND=django_sendfile.backends.simple
      - NOTIFICATIONS_DISABLED=true
      - CACHE_DEFAULT=openzaak-redis:6379/0
      - CACHE_AXES=openzaak-redis:6379/0
      - CELERY_BROKER_URL=redis://openzaak-redis:6379/0
      - CELERY_RESULT_BACKEND=redis://openzaak-redis:6379/0
      - REDIS_URL=redis://openzaak-redis:6379/0
      - DISABLE_2FA=True
    ports:
      - "8001:8000"
    depends_on:
      - openzaak-db
      - openzaak-redis
    volumes:
      - openzaak-private-media:/app/private-media # persist data even if the container shuts down
      - ./imports/open-zaak/dump_demodata.sh:/app/dump_demodata.sh
      - ./imports/open-zaak/fixtures:/app/demodata
    # This health check in turn allows other containers to wait for the database migrations.
    healthcheck:
      test: [ "CMD", "python", "-c", "import requests; exit(requests.head('http://localhost:8000/admin/').status_code not in [200, 302])" ]
      interval: 30s
      timeout: 5s
      retries: 3
      # This should allow for enough time for migrations to run before the max retries have passed.
      start_period: 30s

  openzaak-celery:
    image: openzaak/open-zaak:1.25.0
    container_name: valtimo-plugins-local-openzaak-celery
    platform: linux/amd64
    environment: *openzaak-env
    command: /celery_worker.sh
    healthcheck:
      test: [ "CMD", "python", "/app/bin/check_celery_worker_liveness.py" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  openzaak-import:
    image: openzaak/open-zaak:1.25.0
    container_name: valtimo-plugins-local-openzaak-import
    platform: linux/amd64
    environment: *openzaak-env
    command: sh /app/load_demodata.sh
    volumes:
      - ./imports/open-zaak/fixtures:/app/demodata
      - ./imports/open-zaak/load_demodata.sh:/app/load_demodata.sh
    depends_on:
      openzaak:
        condition: service_healthy

  objects-objecttypes-api-redis:
    image: redis:8.2.2
    container_name: valtimo-plugins-local-objects-objecttypes-api-redis
    expose:
      - 6379
    command: [ "redis-server", "--appendonly", "yes" ]

  objects-api-db:
    image: postgis/postgis:17-3.4
    container_name: valtimo-plugins-local-objects-api-db
    platform: linux/amd64
    ports:
      - "54322:5432"
    environment:
      - POSTGRES_USER=objects
      - POSTGRES_PASSWORD=objects
      - POSTGRES_DB=objects

  objects-api:
    image: maykinmedia/objects-api:3.3.0
    container_name: valtimo-plugins-local-objects-api
    platform: linux/amd64
    ports:
      - "8010:8000"
    environment: &objects-env
      - DB_USER=objects
      - DB_PASSWORD=objects
      - DB_HOST=objects-api-db
      - DJANGO_SETTINGS_MODULE=objects.conf.docker
      - SECRET_KEY=${SECRET_KEY:-1(@f(-6s_u(5fd&1sg^uvu2s(c-9sapw)1era8q&)g)h@cwxxg}
      - IS_HTTPS=no
      - ALLOWED_HOSTS=*
      - CACHE_DEFAULT=objects-objecttypes-api-redis:6379/0
      - CACHE_AXES=objects-objecttypes-api-redis:6379/0
      - CELERY_BROKER_URL=redis://objects-objecttypes-api-redis:6379/1
      - CELERY_RESULT_BACKEND=redis://objects-objecttypes-api-redis:6379/1
      - CELERY_LOGLEVEL=DEBUG
      - DISABLE_2FA=True
      - OBJECTS_SUPERUSER_EMAIL=admin@example.org
      - OBJECTS_SUPERUSER_USERNAME=admin
      - OBJECTS_SUPERUSER_PASSWORD=admin
      - DEBUG=True
    depends_on:
      - objects-api-db
      - objects-objecttypes-api-redis
    # This health check in turn allows other containers to wait for the database migrations.
    healthcheck:
      test: [ "CMD", "python", "-c", "import requests; exit(requests.head('http://localhost:8000/admin/').status_code not in [200, 302])" ]
      interval: 30s
      timeout: 5s
      retries: 3
      # This should allow for enough time for migrations to run before the max retries have passed.
      start_period: 30s

  objects-api-celery:
    image: maykinmedia/objects-api:3.3.0
    container_name: valtimo-plugins-local-objects-api-celery
    platform: linux/amd64
    environment: *objects-env
    command: /celery_worker.sh
    healthcheck:
      test: [ "CMD", "python", "/app/bin/check_celery_worker_liveness.py" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    depends_on:
      objects-api:
        condition: service_healthy

  objects-api-import:
    image: maykinmedia/objects-api:3.3.0
    container_name: valtimo-plugins-local-objects-api-import
    platform: linux/amd64
    environment: *objects-env
    command: sh init/init.sh
    volumes:
      - ./imports/objects-api/fixtures:/app/src/objects/fixtures
      - ./imports/objects-api/init:/app/init
    depends_on:
      objects-api:
        condition: service_healthy

  objecttypes-api-db:
    image: postgres:17.4
    container_name: valtimo-plugins-local-objecttypes-api-db
    ports:
      - "54323:5432"
    environment:
      - POSTGRES_USER=objecttypes
      - POSTGRES_PASSWORD=objecttypes
      - POSTGRES_DB=objecttypes

  objecttypes-api:
    image: maykinmedia/objecttypes-api:3.3.0
    container_name: valtimo-plugins-local-objecttypes-api
    platform: linux/amd64
    ports:
      - "8011:8000"
    environment: &objecttypes-env
      - DB_HOST=objecttypes-api-db
      - DB_USER=objecttypes
      - DB_PASSWORD=objecttypes
      - DJANGO_SETTINGS_MODULE=objecttypes.conf.docker
      - SECRET_KEY=${SECRET_KEY:-fgv=c0hz&tl*8*3m3893@m+1pstrvidc9e^5@fpspmg%cy$$15d}
      - ALLOWED_HOSTS=*
      - CACHE_DEFAULT=objects-objecttypes-api-redis:6379/0
      - CACHE_AXES=objects-objecttypes-api-redis:6379/0
      - CELERY_BROKER_URL=redis://objects-objecttypes-api-redis:6379/1
      - CELERY_RESULT_BACKEND=redis://objects-objecttypes-api-redis:6379/1
      - CELERY_LOGLEVEL=DEBUG
      - DISABLE_2FA=True
      - OBJECTTYPE_SUPERUSER_EMAIL=admin@example.org
      - OBJECTTYPE_SUPERUSER_USERNAME=admin
      - OBJECTTYPE_SUPERUSER_PASSWORD=admin
      - DEBUG=True
    depends_on:
      - objecttypes-api-db
      - objects-objecttypes-api-redis
    # This health check in turn allows other containers to wait for the database migrations.
    healthcheck:
      test: [ "CMD", "python", "-c", "import requests; exit(requests.head('http://localhost:8000/admin/').status_code not in [200, 302])" ]
      interval: 30s
      timeout: 5s
      retries: 3
      # This should allow for enough time for migrations to run before the max retries have passed.
      start_period: 30s

  objecttypes-api-import:
    image: maykinmedia/objecttypes-api:3.3.0
    container_name: valtimo-plugins-local-objecttypes-api-import
    platform: linux/amd64
    environment: *objecttypes-env
    command: sh init/init.sh
    volumes:
      - ./imports/objecttypes-api/fixtures:/app/src/objecttypes/fixtures
      - ./imports/objecttypes-api/init:/app/init
    depends_on:
      objecttypes-api:
        condition: service_healthy

  open-notificaties-rabbitmq:
    image: rabbitmq:4.1.0-management
    container_name: valtimo-plugins-local-open-notificaties-rabbitmq
    ports:
      - "5673:5672"
      - "15673:15672"

  open-notificaties-redis:
    image: redis:8.2.2
    container_name: valtimo-plugins-local-open-notificaties-redis
    expose:
      - 6379

  open-notificaties-db:
    image: postgres:17.4
    container_name: valtimo-plugins-local-open-notificaties-db
    ports:
      - "54324:5432"
    environment:
      - POSTGRES_USER=notifications
      - POSTGRES_PASSWORD=notifications
      - POSTGRES_DB=notifications
#    volumes:
#      - ./imports/open-notificaties-db:/docker-entrypoint-initdb.d

  open-notificaties:
    image: openzaak/open-notificaties:1.13.0
    container_name: valtimo-plugins-local-open-notificaties
    platform: linux/amd64
    ports:
      - "8002:8000"
    environment: &notificaties-env
      - DJANGO_SETTINGS_MODULE=nrc.conf.docker
      - SECRET_KEY=${SECRET_KEY:-4wHY2Cp5`4(q%)]cuWxPQJRp5kN?g+`.Xah>%6Fsq6+)R>p_}
      - ALLOWED_HOSTS=*
      - CACHE_DEFAULT=open-notificaties-redis:6379/0
      - CACHE_AXES=open-notificaties-redis:6379/1
      - DB_PORT=5432
      - DB_HOST=open-notificaties-db
      - DB_NAME=notifications
      - DB_USER=notifications
      - DB_PASSWORD=notifications
      - DEBUG=true
      - RABBITMQ_HOST=open-notificaties-rabbitmq
      - PUBLISH_BROKER_URL=redis://open-notificaties-redis:6379/0
      - CELERY_BROKER_URL=redis://open-notificaties-redis:6379/0
      - CELERY_RESULT_BACKEND=redis://open-notificaties-redis:6379/0
      - CELERY_LOGLEVEL=DEBUG
      - CELERY_WORKER_CONCURRENCY=${CELERY_WORKER_CONCURRENCY:-4}
      - SUBPATH=${SUBPATH:-/}
      - DISABLE_2FA=True
    volumes:
      - ./imports/open-notificaties/fixtures:/app/demodata
      - ./imports/open-notificaties/dump_demodata.sh:/app/dump_demodata.sh
    depends_on:
      - open-notificaties-db
      - open-notificaties-rabbitmq
      - open-notificaties-redis
    # This health check in turn allows other containers to wait for the database migrations.
    healthcheck:
      test: [ "CMD", "python", "-c", "import requests; exit(requests.head('http://localhost:8000/admin/').status_code not in [200, 302])" ]
      interval: 30s
      timeout: 5s
      retries: 3
      # This should allow for enough time for migrations to run before the max retries have passed.
      start_period: 30s

  open-notificaties-celery:
    image: openzaak/open-notificaties:1.13.0
    container_name: valtimo-plugins-local-open-notificaties-celery
    platform: linux/amd64
    environment: *notificaties-env
    command: /celery_worker.sh
    depends_on:
      objects-api:
        condition: service_healthy

  open-notificaties-import:
    image: openzaak/open-notificaties:1.13.0
    container_name: valtimo-plugins-local-open-notificaties-import
    platform: linux/amd64
    environment: *notificaties-env
    command: sh /app/load_demodata.sh
    volumes:
      - ./imports/open-notificaties/fixtures:/app/demodata
      - ./imports/open-notificaties/load_demodata.sh:/app/load_demodata.sh
    depends_on:
      objects-api:
        condition: service_healthy

  #HaalCentraal
  bag-api-simulator:
    image: erikritense/bag-api-simulator-tmp:0.1
    container_name: bag-api-simulator
    ports:
      - "5020:5020"
    environment:
      - AUTH_API_KEY=X-Api-Key
      - AUTH_API_SECRET=SECRET

  bewoningen-mock:
    container_name: bewoningen-mock-2
    image: ghcr.io/brp-api/bewoning-service-mock:2.0.1-latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Release
      - ASPNETCORE_URLS=http://+:5010
    ports:
      - "5010:5010"
    # volumes:
    #   - ./src/config/BewoningService:/app/Data
    networks:
      - brp-api-network

networks:
  brp-api-network:
    name: brp-api-network

volumes:
  openzaak-private-media:
